
/*** Fonts ***/
.pokeInfo h2{
    text-align: center;
}

/*** Pokemon Card ***/
.pokeInfo .card{
    border-bottom: 2px solid var(--colour-primary);
    padding: 0 0 1rem 0;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    width: 100%;
}

.pokeInfo .card img{
    max-height: 12rem;
    width: fit-content;
}

/*** Info section ***/
.details{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*** Type and Characteristics ***/

.details .detailsSidebar{
    display: flex;
    flex-direction: column;
}

.types, .characteristics{
    display: grid;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.type{
    padding: 0.25rem;
    /* border: 1px solid var(--colour-primary); */
    width: fit-content;
    border-radius: 0.25rem;
}

.characteristics li{
    text-wrap: nowrap;
}

.characteristics .charName{
    width: 4.5rem;
    display: inline-block;
}

/*** Base Stat Meters ***/
.stats{
    display: grid;
    gap: 0.5rem;
    flex-grow: 1;
    padding-right: 1rem;
}

.stats li{
    display: flex;
    align-items: flex-start;
}

.stats .statName{
    text-transform: capitalize;
    width: 7rem;
    display: inline-block;
    text-wrap: wrap;
}

.stats .statVal{
    flex-grow: 1;
    background: none;
    border: 1px solid var(--colour-primary);
    border-radius: 0.25rem;
}

meter::-webkit-meter-optimum-value {
  background: var(--colour-primary);
}
meter::-moz-meter-bar { /* Firefox Pseudo Class */
  background: var(--colour-primary);
}

/*** Un-collapse on larger screens ***/
@media only screen and (min-width: 450px) {
    .pokeInfo{
        width: 100%;
        max-width: 22rem;
    }

    .details{
        flex-direction: row-reverse;
    }
}

/*** Type Colours ***/
.normal{
    border: 1px solid rgb(168, 167, 122);
    background-color: rgba(168, 167, 122, 0.25);
}

.fire{
    border: 1px solid rgb(238, 129, 48);
    background-color: rgba(238, 129, 48, 0.25);
}

.water{
    border: 1px solid rgb(99, 144, 240);
    background-color: rgba(99, 144, 240, 0.25);
}

.electric{
    border: 1px solid rgb(247, 208, 44);
    background-color: rgba(247, 208, 44, 0.25);
}

.grass{
    border: 1px solid rgb(122, 199, 76);
    background-color: rgba(122, 199, 76, 0.25);
}

.ice{
    border: 1px solid rgb(92, 150, 148);
    background-color: rgba(150, 217, 214, 0.25);
}

.fighting{
    border: 1px solid rgb(194, 46, 40);
    background-color: rgba(194, 46, 40, 0.25);
}

.poison{
    border: 1px solid rgb(163, 62, 161);
    background-color: rgba(163, 62, 161, 0.25);
}

.ground{
    border: 1px solid rgb(226, 184, 101);
    background-color: rgba(226, 184, 101, 0.25);
}

.flying{
    border: 1px solid rgb(169, 143, 243);
    background-color: rgba(169, 143, 243, 0.25);
}

.psychic{
    border: 1px solid rgb(249, 85, 135);
    background-color: rgba(249, 85, 135, 0.25);
}

.bug{
    border: 1px solid rgb(166, 185, 26);
    background-color: rgba(166, 185, 26, 0.25);
}

.rock{
    border: 1px solid rgb(182, 161, 54);
    background-color: rgba(182, 161, 54, 0.25);
}

.ghost{
    border: 1px solid rgb(115, 87, 151);
    background-color: rgba(115, 87, 151, 0.25);
}

.dragon{
    border: 1px solid rgb(111, 53, 252);
    background-color: rgba(111, 53, 252, 0.25);
}

.dark{
    border: 1px solid rgb(112, 87, 70);
    background-color: rgba(112, 87, 70, 0.25);
}

.steel{
    border: 1px solid rgb(183, 183, 206);
    background-color: rgba(183, 183, 206, 0.25);
}

.fairy{
    border: 1px solid rgb(214, 133, 173);
    background-color: rgba(214, 133, 173, 0.25);
}