#caughtList details{
    padding: 0;
}

#caughtList summary{
    font-size:1.5rem;
    cursor: pointer;
}

#caughtList summary h2{
    display: inline;
}

#caughtList ul{
    padding: 0 1rem 1rem 1rem;
}

#caughtList li{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0;
    justify-content: flex-end;
}

#caughtList p{
    margin: 0;
    text-transform: capitalize;
}

img.sprite{
    width: auto;
}