

#siteNav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#siteNav ul{
    padding: 1rem;
}

#siteNav button{
    margin-right: 1rem;
    z-index: 2;
}

.hidden{
    display: none;
}

.overlay{
    position:absolute;
    z-index:1;
}