
#pokemonGallery{
    display: grid;
    gap: 1rem;
    width:fit-content;
    padding: 0;
}

#pokemonGallery .card{
    overflow: hidden;
}

#pokemonGallery .card:hover{
    border: 1px solid var(--colour-highlight);
}

#pokemonGallery .cardContent{
    transition: transform 300ms;
}

#pokemonGallery .cardContent:hover{
    transform: scale(105%);
    border: 1px solid var(--colour-highlight);
}

#pokemonGallery .card .status{
    position: relative;
    top: 1rem;
    left: 1rem;
}

#pokemonGallery ul li {
    list-style: none;
}


