/******* CSS RESET *******/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******* Variables *******/
:root{
    --colour-primary: #7DB5B1;
    --colour-light: #FFFFFF;
    --colour-dark: #3F3F3F;
}

/****** Base Styles *******/
*{
    box-sizing: border-box;
}
body{
    background-color: var(--colour-light);
    color: var(--colour-dark);
}

h1{
    font-size: 2.5rem;
    margin-top: 2rem;
}

h2{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform:capitalize;
}

h3{
    font-size: 1rem;
    font-weight: bold;
    text-transform:capitalize;
}

a{
    text-decoration: none;
    color: var(--colour-dark);
}

/******* Components **********/
.container{
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
}

/******************* LAYOUTS ***********************/

#siteHeader{
    position: sticky;
    top: 0;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
    z-index: 2;
    background-color: white;
}

#siteContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
}

#homeContent{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 2rem;
}

#sidebar, #mainContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#sidebar aside{
    margin-bottom: 1rem;
}

#caughtList{
    min-width: 17rem;
}

#pokemonGallery .selection{
    display: none;
}

#homeContent #pokeInfo{
    display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {

    #pokemonGallery{
        grid-template-columns: 1fr;
    }
}

/* Tablet - portrait */
@media only screen and (min-width: 400px) {

    #pokemonGallery{
        grid-template-columns: 1fr 1fr;
    }
}

/* Tablet Landscape */
@media only screen and (min-width: 600px) {

    #pokemonGallery{
        grid-template-columns: 1fr 1fr 1fr;
    }

    #caughtList ul{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 800px) {

    #pokemonGallery{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #caughtList ul{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


 @media only screen and (min-width: 1100px) {

    #pokemonGallery .selection {
        display: flex;
    }

    #pokemonGallery .pageLink {
        display: none;
    }

    #homeContent #pokeInfo{
    display: grid;
}

    #homeContent{
        grid-template-areas:
        'main side';
        grid-template-columns: 65% 35%;
    }

    #homeContent #mainContent{
        grid-area: main;
    }

    #homeContent #sidebar{
        grid-area: side;
    }

    #caughtList ul{
        grid-template-columns: 1fr;
    }
       
} 