/******************************* CSS RESET *************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/******************************* END OF RESET *************************************/

/******* Variables *******/
:root{
    
    --colour-primary: #7DB5B1;                          /* Base colour - borders, fills */
    --colour-primary-trans: rgba(125, 181, 177, 0.15);  /* Transparent - containers */
    --colour-secondary: rgba(222,236,235,0.9);          /* Light - background */
    --colour-tertiary: rgba(208, 227, 226, 0.9);        /* Mid - overlays */
    --colour-dark: #0D0D0D;                             /* Text */
    --colour-highlight: rgb(185, 201, 78);              /* Hover border */
    --colour-glow: rgba(185, 201, 78, 0.5);             /* Hover inner glow */
}

/****** Base Styles *******/
*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
    scrollbar-color: var(--colour-primary) var(--colour-secondary);
    scrollbar-width: thin;
}

body{
    background-color: var(--colour-secondary);
    color: var(--colour-dark);
    font-family: "Genos", sans-serif;
}

h1{
    font-size: 3rem;
    margin-top: 2rem;
}

h2{
    font-size: 2rem;
    text-transform:capitalize;
}

h3{
    font-size: 2rem;
    text-transform:capitalize;
}

p{
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: var(--colour-dark);
}

button{
    font-family: "Genos", sans-serif;
    font-size: 1.5rem;
}

/******* Components **********/
.container{
    padding: 1rem;
    background-color: var(--colour-primary-trans);
    border: 1px solid var(--colour-primary);
    border-radius: 0.5rem;
    overflow: hidden;
}

.interactive{
    cursor: pointer;
}

.interactive:hover{
    border-color: var(--colour-highlight) !important;
    box-shadow: inset 0 0 1.25rem var(--colour-glow);
}

/******************* LAYOUTS ***********************/

/*** Site Containers ***/
#siteContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
}

#siteHeader{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;

    padding-bottom: 1rem;
    text-align: center;
    background-color: var(--colour-secondary);
}

#homeContent{
    display: grid;
    grid-template-columns: 1fr;
}

#sidebar, #mainContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#mainContent{
    margin: 1rem;
}

#sidebar{
    position: sticky;
    top: 5rem;
    z-index: 2;
    padding: 1rem;
}

/*** Caught Pokemon List ***/
#caughtList{
    min-width: 17rem;
    z-index: 2;
    background-color: var(--colour-tertiary);
}

#caughtList ul{
    display: grid;
    grid-template-columns: 1fr;
    height: 25rem;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: var(--colour-primary) var(--colour-secondary);
    scrollbar-width: thin;
}

/*** Pokemon Info Card ***/

/*Outer container */
#pokeInfo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    position: absolute;
    left: -25rem;
    z-index: 3;
}

/* Inner card */
#pokeInfo .pokeInfo{
    position: relative;
    width: auto;
    max-width: 22rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--colour-tertiary);
}

/* Pop-up (Mobile vesion) */
#pokeInfo.view{
    width: 100%;
    height: 100dvh;
    left:0;
    top: 0;
    background-color: var(--colour-secondary);
}

button#closePokeInfo{
    position: relative;
    margin-left: 0.5rem;
    background-color: var(--colour-tertiary);
}

/*** Pokemon Gallery ***/

button#loadMore{
    margin: 1rem 0;
    cursor:pointer;
}

/****** Extra small devices (phones, 600px and down) ******/
@media only screen and (max-width: 400px) {

    #pokemonGallery{
        grid-template-columns: 1fr;
    }
}

/****** Tablet - portrait ******/
@media only screen and (min-width: 400px) {
    
    h3, p{
        font-size: 1.5rem;
    }

    #pokemonGallery{
        grid-template-columns: 1fr 1fr;
    }

}

/****** Tablet Landscape ******/
@media only screen and (min-width: 600px) {

    #pokemonGallery{
        grid-template-columns: 1fr 1fr 1fr;
    }

    #caughtList ul{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 800px) {

    #pokemonGallery{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #caughtList ul{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/****** Desktop ******/
 @media only screen and (min-width: 1100px) {
    
    /***Fonts ***/

    h2{
        font-size: 1.5rem;
    }
    h3, p{
        font-size: 1.25rem;
    }

    /*** Site Containers ***/
    /* #siteHeader{
        position: sticky;
        top: 0;
    } */

    #homeContent{
        grid-template-areas:
        'main side';
        grid-template-columns: 70% 30%;
    }

    #homeContent #mainContent{
        grid-area: main;
    }

    #homeContent #sidebar{
        grid-area: side;
    }

    #sidebar{
        padding: 0;
    }

    /*** Caught List ***/

    #caughtList{
        position: fixed;
        top: 7rem;
        width: 22rem;
        z-index: 3;
    }

    #caughtList ul{
        grid-template-columns: 1fr;
        height: 29rem;
    }

    /*** Pokemon Info Card ***/
    #pokeInfo, #pokeInfo.view{
        display: grid;

        position: fixed;
        top: 12rem;
        left: auto;
        width: 22rem;
        z-index: 2;
    }

    #pokeInfo .pokeInfo{
        position: static;
        top:auto;
    }
       
    button#closePokeInfo{
        display: none;
    }
} 